20181027_104909.csv
20181027_104909.png
20181027_105031.csv
20181027_105031.png
a.au3
a.txt
abc.bat
datetime.bat
deploy.bat
hello.exe
logfile/
logfile1/
make4boot.bat
make4motortest.bat
make4program.bat
makehello.bat
makeSampleT.bat
motortest.au3
motortest.bat
motortest.exe
move.bat
null
plot2.py

*.exe
*.csv
*.png
t4loader.au3
t4loader.bat
t4loader.exe
t4program.au3
t4program.bat
t4program.exe
test.au3
test.bat
tst.csv
tsta.csv
tsta.png
_105043.csv
_105043.png
_105044.csv
_105044.png

